*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html,body{
    height: 100%;
    width: 100%;
}

#loader{
    height: 100%;
    width: 100%;
    color: black;
    background-color: white;
    position: fixed;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loader h1{
    color: black;
    font-size: 70px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#main{
    height: 100%;
    width: 100%;
}

#page1{
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-color: black;
    text-transform: uppercase;
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}

#page1 p{
    margin-left: 100px;
    font-size: 400px;
    color: white;
}

#page2{
    height: 100%;
    width: 100%;
    background-color: black;
}

#page3{
    height: 100%;
    width: 100%;
    background-color: black;
}